
#cis-speacial-parent a{
    
    color: blue;

}
.mercedesheader{
    
    
    text-align: center;
    
}
.referencepages{
    
    text-align: right;
    
   
}
body {
    background-color: pink;
}

#content p {
    
    color:blue
    
}